{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}


<form action="{{url_for('search_author')}}" method="post" class="input-group mb-3">
	<input name="author_name" type="text" class="form-control" placeholder="Author Name" aria-label="Author Name"
		aria-describedby="button-addon2">
	<input class="btn btn-outline-secondary" type="submit" id="button-addon2" value="Submit">
</form>

<div class="my-2">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Author</th>
				<th scope="col">Top Work</th>
			</tr>
		</thead>
		<tbody>
			{% for author in authors %}
			<tr>
				<td><a href="#">{{author.name}}</a></td>
				<td>{{author.top_work}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div>
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			{% if page != 0 %}
			<li class="page-item"><a class="page-link" href="{{url_for('prev_page')}}">Previous</a></li>
			{% endif %}
			<li class="page-item active"><a class="page-link" href="#">{{page+1}}</a></li>
			{% if page != list_length-2 %}
			<li class="page-item"><a class="page-link" href="{{url_for('next_page')}}">Next</a></li>
			{% endif %}
		</ul>
	</nav>
</div>
{% endblock %}
